.flex {
  display: flex;
  justify-content: space-between;
}
.links {
  text-decoration: none;
  font-size: 2em;
  color: #bf4aa8;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.7rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 2rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  background-color: #bf4aa8;
  box-shadow: inset 0.5em 0.5em 0.5em 0 #bf4aa8, inset -0.5em -0.5em 0.5em 0 #d9d9d9;
}
@media (max-width:800px) {
  .top-nav {
    width: 100%;
  }
}
@media (max-width:500px) {
  .top-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3%;
    box-shadow: none;
    background-color: #51d0de;
  }
}
.top-nav .nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 1%;
}
@media (max-width:800px) {
  .top-nav .nav {
    width: 90%;
  }
}
@media (max-width:500px) {
  .top-nav .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5%;
  }
}
.top-nav .nav a {
  text-decoration: none;
  color: #bf4aa8;
  margin: 10px;
  color: #d9d9d9;
  font-size: 2em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  .top-nav .nav a {
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
  }
  .top-nav .nav a:hover {
    background-color: #bf4aa8;
    color: #d9d9d9;
    font-weight: bolder;
  }
}
.foot-nav {
  display: flex;
  flex-direction: row;
  padding: 3%;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
@media (max-width:800px) {
  .foot-nav {
    width: 100%;
  }
}
@media (max-width:500px) {
  .foot-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3%;
  }
}
.foot-nav a {
  text-decoration: none;
  font-size: 2em;
  margin: 10px 0;
  color: #bf4aa8;
  font-size: 1.5em;
  font-weight: bold;
}
@media (max-width:500px) {
  .foot-nav a {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .foot-nav a:hover {
    background-color: #bf4aa8;
    color: #d9d9d9;
    font-weight: bolder;
  }
}
#copy {
  color: #d9d9d9;
  font-weight: bolder;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
@media (max-width:800px) {
  .bottom {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
}
.bottom #copy {
  padding: 2%;
  font-size: 1.5em;
}
html {
  background-color: #51d0de;
}
html .welcome_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
}
html .welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
html .welcome .welcome-content {
  width: 45%;
  padding: 2%;
  color: #bf4aa8;
  margin-right: 2%;
}
@media (max-width:800px) {
  html .welcome .welcome-content {
    width: 100%;
  }
}
@media (max-width:500px) {
  html .welcome .welcome-content {
    width: 95%;
    margin: 2em;
  }
}
html .welcome .welcome-content h2 {
  color: #d9d9d9;
}
html .welcome .welcome-content p {
  color: #bf4aa8;
}
html .welcome .welcome-content ul {
  list-style-type: square;
  list-style-position: inside;
  color: #bf4aa8;
  line-height: 1.5;
  font-size: 2rem;
  padding-bottom: 10px;
}
html .main .top {
  width: 95%;
  padding: 2%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}
@media (max-width:500px) {
  html .main .top {
    display: flex;
    flex-direction: column;
  }
}
html .main .top .content {
  width: 45%;
  padding: 2%;
  color: #bf4aa8;
  margin-right: 2%;
}
@media (max-width:800px) {
  html .main .top .content {
    width: 100%;
  }
}
@media (max-width:500px) {
  html .main .top .content {
    width: 95%;
    margin: 2em;
  }
}
html .main .top .content h2 {
  color: #d9d9d9;
}
html .team {
  width: 95%;
  padding-left: 15%;
}
@media (max-width:800px) {
  html .team {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width:500px) {
  html .team {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
html .team .profile {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
@media (max-width:800px) {
  html .team .profile {
    width: 100%;
  }
}
@media (max-width:500px) {
  html .team .profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
html .team .profile h3 {
  color: #bf4aa8;
}
html .team .profile h4 {
  color: #d9d9d9;
}
html .team .profile #pics {
  width: 50%;
  height: auto;
  object-fit: scale-down;
  margin: 2%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:800px) {
  html .team .profile #pics {
    width: 75%;
    height: auto;
  }
}
@media (max-width:500px) {
  html .team .profile #pics {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
html .team .profile .info {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #d9d9d9;
  padding: 2%;
  font-size: 2em;
}
@media (max-width:800px) {
  html .team .profile .info {
    width: 50%;
  }
}
@media (max-width:500px) {
  html .team .profile .info {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
html .team .profile .info a {
  text-decoration: none;
  color: #bf4aa8;
  font-size: 3.2rem;
}
html .team .profile .info .fa-github:before {
  content: "\f09b";
}
@media (max-width:500px) {
  html .team .profile2 {
    flex-direction: column-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
