.top-nav{
    .center();
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    background-color: @purple;
    box-shadow: inset 0.5em 0.5em 0.5em 0 @purple, inset -0.5em -0.5em 0.5em 0 @white;

    @media @tablet{
        width: 100%;
    }

    @media @mobile{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       padding: 3%;
       box-shadow: none;
       background-color: @blue;
    }
 

   .nav{
       display: flex;
       justify-content: space-between;
       width: 95%;
       padding: 1%;

       @media @tablet{
           width: 90%;
       }
       @media @mobile {
         width: 100%;
         display: flex;
         flex-direction: column;
         padding-bottom: .5%;
       }    
   
        a{
           .links();
           margin: 10px;
           color: @white;
           font-size: @font-size; 
           font-weight: bolder;
           .center();
           
           @media @mobile{
            display: flex;
            flex-direction: column;
            padding-bottom: 1%;
            &:hover{
                background-color: @purple;
                color: @white;
                font-weight: bolder;
            }
           }
       }
   }
}

.foot-nav{
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 85%;

    @media @tablet{
        width: 100%;
    }

    @media @mobile{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       padding: 3%;

       
    }
 
    a{
        .links();
        margin: 10px 0;
        color: @purple;
        font-size: @font-size2;
        font-weight: bold; 
        
        @media @mobile{
         display: flex;
         flex-direction: column;
         .center();
         &:hover{
             background-color: @purple;
             color: @white;
             font-weight: bolder;
         }
        }
    }
    
}

#copy{
    color: @white;
    font-weight: bolder;
}